p {
  font-family: Lato;
}
body { 
background-image: url('https://scontent-amt2-1.xx.fbcdn.net/v/t1.6435-9/140961300_10157704215661466_2070359286886168882_n.jpg?_nc_cat=102&ccb=1-5&_nc_sid=6e5ad9&_nc_ohc=TVyrKp-6-ZEAX8lS5WZ&_nc_ht=scontent-amt2-1.xx&oh=be4559a07b3dc2fdfdd0cecdfe8fc034&oe=61BE84E5');
height: 24cm;
}